.exp{
	font-family: sans-serif;
}
#e{
	font-size: x-large;
	margin-left: 50px;
}
#ds,#fs{
	color: darkblue;
	text-align: center;
	display: block;
	font-weight: bold;
}
#ds1{
	color: blue;
	text-align: center;
	display: block;
}
span{
	display: block;
	text-align: center;
}
button{
	margin-left: 50px;
	text-align: center;
}
#ss1{
	display: block;
	font-size: 35px;
	font-weight: bold;
	color:gray;
	font-family:sans-serif;
}
#cc{
	margin-left: 0px;
}
#rf{
	margin:auto;
}
#r{
	display: block;
	font-size:xx-large;
	color: green;
}
#w{
	display: block;
	text-align: center;
	font-size: xx-large;
	color: red;
}
#gcs{
	display: block;
	text-align: center;
	margin:auto;
}