.exp{
	font-family: sans-serif;
}
#e{
	font-size: x-large;
	margin-left: 50px;
}
#ds{
	color: darkblue;
	text-align: center;
	display: block;
}
#ds1{
	color: blue;
	text-align: center;
	display: block;
}