.exp{
	font-family: sans-serif;
}
#e{
	font-size: x-large;
	margin-left: 50px;
}
#ds,#fs{
	color: darkblue;
	text-align: center;
	display: block;
	font-weight: bold;
}
#ds1{
	color: blue;
	text-align: center;
	display: block;
}
button{
	margin-left: 50px;
	align:center;
}
#ss1{
	display: block;
	font-size: xx-large;
	font-weight: bold;
	color:gray;
	font-family: "Lucida Grande",sans-serif;
}
#rf{
	display: block;
	text-align: center;
}